.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.day:not(:disabled) {
    font-weight: bold;
}
.react-calendar {
    padding: 0 5px;
}
.react-calendar__tile {
    color: #006bff;
    background: none;
    font-size: 15px;
    border-radius: 50%;
    width: 40px;
    height: 45px;
}
.react-calendar__tile--active {
    color: #fff;
    background-color: #006bff;
}
.react-calendar__tile--active {
    pointer-events: none;
}
.react-calendar__tile:not(:disabled):hover {
    background-color: #ccecf8;
}
.react-calendar__tile:disabled {
    color: grey;
    background-color: white;
}

.react-calendar__month-view__weekdays {
    font-weight: 100;
}
abbr[title] {
    text-decoration: none;
}
