.day:not(:disabled) {
    font-weight: bold;
    font-family: inherit;
    border: none;
    /* background-color: #d9e9ff; */
    /* margin: 3px; */
}
.react-calendar {
    padding: 0 5px;
    font-family: inherit;
    border: none;
}
.react-calendar__tile {
    color: #006bff;
    background: none;
    font-size: 15px;
    height: 45px;
    border-radius: 50%;
}
.react-calendar__tile--active {
    color: #fff;
    font-size: 17px;
    background-color: #006bff;
}
.react-calendar__tile--active {
    pointer-events: none;
}
.react-calendar__tile:not(:disabled):hover {
    background-color: #cccdf8;
}
.react-calendar__tile:disabled {
    color: grey;
    background-color: white;
}

.react-calendar__month-view__weekdays {
    font-weight: 100;
}
abbr[title] {
    text-decoration: none;
}

.react-calendar__month-view__days__day--neighboringMonth {
    visibility: hidden;
    color: transparent;
    pointer-events: none;
}

.mainContainer {
    max-width: 80%;
    height: auto;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 2% auto;
    border: 1px solid var(--text-color-level3, rgba(26, 26, 26, 0.1));
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding-bottom: 50px;
}
.mainContainer > div {
    height: 80%;
    margin: 0;
}
.infoBox {
    border-right: 1px solid #eeecec;
    color: #223d50;
    padding-left: 50px;
}
.iconBox {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.iconBox p {
    margin-left: 10px;
}
.timeBox {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.selClass {
    pointer-events: none;
    /* width: 105px; */
}

.buttonsBox {
    display: flex;
    flex-direction: column;
}

.buttonsBox * {
    margin: 10px 0;
}
